
main {
    padding: 50px;
    text-align: center;
}

.about-me {
    background-color: white;
    padding: 20px;
    margin-bottom: 50px;
}

.about-me h2 {
    margin-bottom: 30px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project {
    width: 30%;
    margin-bottom: 50px;
}

.project img {
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}

.project h3 {
    margin-top: 20px;
}

.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}